<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShopCoinUSA</title>
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link rel="icon" href="https://shopcoinusa.com/wp-content/uploads/2021/12/cropped-logo-2-32x32.png" sizes="32x32">
</head>
<body>
    <div id="wrapper">


        <header id="header" class="header has-sticky sticky-jump">
            <div class="header-wrapper">
                <div id="masthead" class="header-main ">
                    <div class="header-inner flex-row container logo-left medium-logo-center" role="navigation">

                        <!-- Logo -->
                        <div id="logo" class="flex-col logo">
                            <!-- Header logo -->
                            <a href="/" title="Shop Coin USA" rel="home">
                                <img width="200" height="90" src="http://shopcoinusa.com/wp-content/uploads/2021/12/logo-e1640592718566.png" />@*class="header_logo header-logo" alt="Shop Coin USA"><img width="200" height="90" src="http://shopcoinusa.com/wp-content/uploads/2021/12/logo-e1640592718566.png" class="header-logo-dark" alt="Shop Coin USA">*@
                            </a>
                        </div>

          
                        <div class="flex-col hide-for-medium flex-left flex-grow">
                            <ul class="header-nav header-nav-main nav nav-left  nav-size-medium nav-spacing-xlarge nav-uppercase"></ul>
                        </div>              
                        <div class="flex-col hide-for-medium flex-right">
                            <ul class="header-nav header-nav-main nav nav-right  nav-size-medium nav-spacing-xlarge nav-uppercase">
                                <li id="menu-item-17" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-6 current_page_item menu-item-17 active menu-item-design-default"><a href="https://shopcoinusa.com/" aria-current="page" class="nav-top-link">Home</a></li>
                                <li id="menu-item-88" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-88 menu-item-design-default"><a href="https://shopcoinusa.com/deposit-withdraw/" class="nav-top-link">Deposit-Withdraw</a></li>
                                <li id="menu-item-15" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-15 menu-item-design-default"><a href="https://shopcoinusa.com/blog/" class="nav-top-link">Blog</a></li>
                                <li id="menu-item-14" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-14 menu-item-design-default"><a href="https://shopcoinusa.com/about-us/" class="nav-top-link">About Us</a></li>
                                <li id="menu-item-16" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-16 menu-item-design-default"><a href="https://shopcoinusa.com/contact-us/" class="nav-top-link">Contact Us</a></li>
                                <li class="html header-button-1">
                                    <div class="header-button">
                                        <a href="/ShopCoin/Login" class="button primary" style="border-radius:99px;">
                                            <span>Login</span>
                                        </a>
                                    </div>
                                </li>


                            </ul>
                        </div>

                        

                    </div>

                </div>
                <div class="header-bg-container fill"><div class="header-bg-image fill"></div><div class="header-bg-color fill"></div></div>
            </div>
        </header>


        @RenderBody()

        <footer id="footer" class="footer-wrapper">
            <div class="absolute-footer light medium-text-center small-text-center">
                <div class="container clearfix">


                    <div class="footer-primary pull-left">
                        <div class="copyright-footer">
                            Copyright 2022 © <strong>Shop Coin USA      </strong>
                        </div><strong>
                        </strong>
                    </div><strong>
                    </strong>
                </div><strong>
                </strong>
            </div><strong>

                <a href="#top" class="back-to-top button icon invert plain fixed bottom z-1 is-outline hide-for-medium circle" id="top-link" aria-label="Go to top"><i class="icon-angle-up"></i></a>

            </strong>
        </footer><strong>

        </strong>
    </div>
</body>

</html>