
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<main id="main" class="">


    <div id="content" role="main" class="content-area">


        <section class="section dark" id="section_715097945">
            <div class="bg section-bg fill bg-fill bg-loaded">


                <div class="section-bg-overlay absolute fill"></div>


            </div>

            <div class="section-content relative">

                <div class="row align-middle" id="row-762966564">

                    <div id="col-556012740" class="col medium-6 small-12 large-6">
                        <div class="col-inner text-center">


                            @*<div class="img has-hover hidden x md-x lg-x y md-y lg-y" id="image_16718989">
                                <div class="img-inner dark">
                                    <img width="505" height="1024" src="https://shopcoinusa.com/wp-content/uploads/2021/12/app-1-505x1024.png" class="attachment-large size-large" alt="" loading="lazy" srcset="https://shopcoinusa.com/wp-content/uploads/2021/12/app-1-505x1024.png 505w, https://shopcoinusa.com/wp-content/uploads/2021/12/app-1-148x300.png 148w, https://shopcoinusa.com/wp-content/uploads/2021/12/app-1-768x1557.png 768w, https://shopcoinusa.com/wp-content/uploads/2021/12/app-1-758x1536.png 758w, https://shopcoinusa.com/wp-content/uploads/2021/12/app-1-1010x2048.png 1010w, https://shopcoinusa.com/wp-content/uploads/2021/12/app-1.png 1376w" sizes="(max-width: 505px) 100vw, 505px">
                                </div>

                                <style>
                                    #image_16718989 {
                                        width: 45%;
                                    }
                                </style>
                            </div>*@

                        </div>
                    </div>



                    <div id="col-1912136616" class="col medium-6 small-12 large-6">
                        <div class="col-inner">


                            <div id="text-2620157418" class="text">

                                <h3><strong>Download Shop Coin USA App</strong></h3>

                            </div>

                            <div id="text-750619187" class="text">

                                <p><strong>Manage crypto assets at your fingertips</strong></p>

                            </div>

                            <div class="row row-small" id="row-1125377737">

                                <div id="col-1453394226" class="col medium-6 small-6 large-6">
                                    <div class="col-inner">


                                        <div class="img has-hover x md-x lg-x y md-y lg-y" id="image_1246491769">
                                            <a class="" href="https://shopcoinusa.com/file/shop-coin-usa-dad53be3972c4eb2b08ba0af5b8d2726-signed.apk" target="_blank" rel="noopener noreferrer">
                                                <div class="img-inner dark">
                                                    <img width="742" height="190" src="https://shopcoinusa.com/wp-content/uploads/2021/12/nut.png" class="attachment-large size-large" alt="" loading="lazy" srcset="https://shopcoinusa.com/wp-content/uploads/2021/12/nut.png 742w, https://shopcoinusa.com/wp-content/uploads/2021/12/nut-300x77.png 300w" sizes="(max-width: 742px) 100vw, 742px">
                                                </div>
                                            </a>
                                            <style>
                                                #image_1246491769 {
                                                    width: 100%;
                                                }
                                            </style>
                                        </div>

                                        <div id="text-251049427" class="text">

                                            <p><em>For Androi</em></p>

                                            <style>
                                                #text-251049427 {
                                                    text-align: center;
                                                }
                                            </style>
                                        </div>

                                    </div>
                                </div>



                                <div id="col-432888157" class="col medium-6 small-6 large-6">
                                    <div class="col-inner">


                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </section>



    </div>



</main>